<html>
    <head> 
        <title> Sistema de control de Ingreso </title>
    </head>
    <body>
        <h1> Mantenimientos </h1>
        <hr>
        <ul>
            <li> <a href="/m_areas_listado">Áreas</a> </li>
            <p>
            <li> <a href="/m_cargos_listado">Cargos</a> </li>
            <p>
            <li><a href="/m_proyectos_listado">Proyectos</a></li>
            <p>
        </ul>
    </body>
</html>
